CONTROL.xlsx
OUTPUT.xlsx
OUTPUT.csv
*.png
~$*.xlsx
.mypy_cache
__pycache__
logs
.DS_Store

rules.json

node_modules

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
serverless_sdk
s_*.py